* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0084fd;
    --primary-color: #b5ddff;
    --secondary-color: #9792e4;
}

.flex {
    display: flex;
}

button {
    border: none;
    cursor: pointer;
}

/* Header */

header {
    background-color: var(--main-color);
}

/* Nav */

nav {
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.menu {
    flex-direction: column;
    position: relative;
    font-size: larger;
}

.menu button {
    background-color: transparent;
    color: white;
}

.menu i {
    font-size: 1.5rem;
}

nav ul {
    display: none;
    position: absolute;
    list-style: none;
    left: calc(-100vw + 21px + 2rem);
    top: 40px;
    background-color: var(--main-color);
    padding: 1rem;
    width: 100vw;
    line-height: 2.5rem;
    text-align: center;
}

.button-get-started {
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: .5rem 1rem;
}

nav a {
    text-decoration: none;
    color: white;
}

.menu button:focus~ul {
    display: block;
}

/* Main */

.section {
    padding: 2rem 1rem;
    justify-content: center;
}

/* Prima Sezione */

.container-large,
.container-small {
    background-color: var(--primary-color);
    border-radius: 25px;
    margin: 1rem;
    padding: 2rem;
}

.container-large h3,
.container-small h3 {
    color: var(--main-color);
    text-align: center;
}

.container-large p,
.container-small p {
    margin: 2rem 0;
    max-width: 600px;
}

.col-text {
    flex-direction: column;
    align-items: center;
}

.col-text button {
    margin-bottom: 2rem;
    background-color: var(--main-color);
    color: white;
    padding: .5rem 2rem;
    border-radius: 50px;
    max-width: 250px;
    width: 100%;
}

.col-img {
    justify-content: center;
    align-items: flex-end;
}

.col-img img {
    width: 90%;
    max-width: 330px;
    margin-bottom: calc(-2rem);
}

.container-small {
    flex-direction: column;
    align-items: center;
}

.container-small i {
    font-size: 120px;
    color: var(--main-color);
    margin-bottom: 2rem;
}

.container-small p {
    text-align: center;
}

/* Seconda Sezione */

.section-planning {
    background-color: var(--secondary-color);
}

.section-planning img {
    width: 100%;
}

.col-left,
.col-right {
    margin: 1rem;
}

.col-left {
    color: white;
}

.col-left h2 {
    margin-top: 50px;
    font-size: 2rem;
}

.col-right {
    background-color: white;
    border-radius: 50px;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}

.col-left p,
.col-right p {
    margin: 2rem 0;
}

.col-right p {
    text-align: center;
}

.col-right button {
    padding: 15px 18px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.col-right button i {
    font-size: large;
}

/* Terza Sezione */

.section-testimonials {
    text-align: center;
}

.section-testimonials h2 {
    margin: 1rem 0;
    color: var(--secondary-color);
    font-size: 2rem;
}

.section-testimonials p {
    margin: 0 2rem;
}

.cards {
    background-color: var(--secondary-color);
    margin: 2rem 1rem 0 1rem;
    padding: 2rem;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    color: white;
}

.cards p {
    margin: 1rem 0;
    font-weight: bold;
}

.testimonial-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.nat-pic {
    background-image: url(../img/testimonial1.jpg);
}

.celia-pic {
    background-image: url(../img/testimonial2.jpg);
}

.bob-pic {
    background-image: url(../img/testimonial3.jpg);
}

/* Quarta Sezione  */

.section-benefits {
    background-color: var(--secondary-color);
}

.section-benefits h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.benefits-boxes {
    margin-top: 2rem;
}

.benefits-box {
    background-color: white;
    margin: 2rem 1rem 0 1rem;
    padding: 3rem 2rem;
    border-radius: 25px;
    flex-direction: column;
    align-items: flex-start;
}

.benefits-box i {
    font-size: 3rem;
    color: var(--secondary-color);
}

.benefits-box h3 {
    color: var(--secondary-color);
    padding: 1rem 0;
}

.benefits-box p {
    padding-bottom: 1rem;
    line-height: 2rem;
}

.benefits-box button {
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 25px;
    padding: .5rem 2.5rem;
}

/* Quinta Sezione */

.about-us,
.about {
    padding: 1rem;
}

.about-us h2 {
    color: var(--secondary-color);
    font-size: 3rem;
}

.about-us p {
    padding: 1rem 0;
    max-width: 600px;
    line-height: 2rem;
}

.pic-about-us {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/about.jpg);
}

.pic-about-us i {
    position: absolute;
    color: var(--secondary-color);
    font-size: 4rem;
    right: 0;
}

.about button {
    background-color: var(--secondary-color);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    padding: .5rem 1rem;
}

.about h3 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin: 2rem 0;
}

/* Sesta Sezione */

.section-get-started {
    background-color: var(--secondary-color);
}

.container-section-get-started {
    color: white;
    flex-direction: column;
    align-items: center;
    max-width: 530px;
}

.section-get-started button {
    background-color: white;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    padding: 1rem 3.5rem;
}

.section-get-started strong {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
}

.section-get-started h2 {
    font-size: 3rem;
    color: #fdc15f;
}

.section-get-started p {
    text-align: center;
    padding: 1rem 0;
}

.section-get-started a {
    color: white;
}

/* Footer */

footer {
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: center;
}

.footer {
    max-width: 423px;
}

.footer p {
    text-align: center;
    padding: 2rem 0;
}

.footer a {
    color: var(--secondary-color);
}

/* Media Query */

@media screen and (min-width: 650px) {
    .row {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 20px;
        margin-bottom: 20px;
    }

    .container-large,
    .container-small {
        margin: 0;
    }

    .container-large {
        width: calc(((100% / 3) * 2) + 20px);
    }

    .container-small {
        width: calc(100% / 3);
    }

    .col-left h2 {
        font-size: 5rem;
    }

    .cards {
        flex-direction: row;
        text-align: left;
        margin: 1rem 0;
    }

    .cards p,
    .cards strong {
        padding-left: 2rem;
    }

    .benefits-boxes {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .benefits-box {
        margin: 0;
        width: calc(50% - 2rem);
    }

    .section-about-us {
        display: flex;
    }

    .about {
        max-width: 250px;
    }
}

@media screen and (min-width: 1215px) {

    /* Nav */

    nav {
        max-width: 1200px;
        margin: auto;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: block;
        position: initial;
        display: flex;
        width: fit-content;
    }

    nav li {
        padding: 0 .5rem;
        font-size: 1rem;
    }

    /* Main */

    .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .row {
        max-width: 1200px;
    }

    .container-large {
        display: flex;
    }

    .col-img img {
        max-width: 450px;
    }

    .section-planning {
        flex-wrap: nowrap;
    }

    .container-section-planning {
        max-width: 1200px;
        display: flex;
    }

    .col-left {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 200px;
    }

    .col-right {
        width: 600px;
        margin-top: 300px;
    }

    .col-left p {
        width: 400px;
        padding: 2rem 0;
    }

    .col-left h2 {
        font-size: 2rem;
    }

    .col-left img {
        width: 80%;
        margin: 100px 0;
    }

    .section-testimonials,
    .container-section-benefits {
        max-width: 1200px;
        margin: auto;
    }

    .benefits-box {
        width: calc((100% / 3) - 2rem);
    }

    .section-about-us {
        max-width: 1200px;
        margin: auto;
    }
}