* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0084fd;
    --secondary-color: #b5ddff;
}

.flex {
    display: flex;
}

button {
    border: none;
    cursor: pointer;
}

/* Header */

/* Nav */

nav {
    background-color: var(--main-color);
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.menu {
    flex-direction: column;
    position: relative;
    font-size: larger;
}

.menu button {
    background-color: transparent;
    color: white;
}

.menu i {
    font-size: 1.5rem;
}

nav ul {
    display: none;
    position: absolute;
    list-style: none;
    left: -100px;
    top: 40px;
    background-color: var(--main-color);
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
}

.menu button:focus~ul {
    display: block;
}

/* Main */

main {
    padding: 2rem 1rem;
}

/* Footer */

/* Media Query */

@media screen (min-width: 480px) {}

@media screen (min-width: 900px) {}

@media screen (min-width: 1200px) {}